@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>Vinicius Arruda.</h3>

<address>
    Belo Horizonte City<br />
    MG, Brazil 31530-450<br />
    <abbr title="Phone">P:</abbr>
    +55 31 99221-0060
</address>

<address>
    <strong>E-mail:</strong>   <a href="mailto:vinicius.silva.arruda@gmail.com">vinicius.silva.arruda@gmail.com</a><br />
</address>